.button {
    background-color: deepskyblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 10px 0px;
    cursor: pointer;
    border-radius: 7px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.table td,th {
	padding: 15px;
	border: 1px solid #ddd;
    text-align: center; 
}

.table {
	width: 100%;
}

.table th {
	background-color: deepskyblue;
	color: white;
}

/* Style the links inside the tab */
div.tab a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.1s;
    font-size: 17px;
    border-radius: 7px;
    border: black;
}

/* Change background color of links on hover */
div.tab a:hover {
    background-color: deepskyblue;
}

/* Create an active/current tablink class */
div.tab a:focus, .active {
    background-color: deepskyblue;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 70px 12px;  
}

#usernameText{

}

#passwordText{

}

#usernameBox {
    float: right;
    margin-right: 400px;
    padding: 3px;
}

#passwordBox {
    float: right;
    margin-right: 230px;
    padding: 3px;
    margin-top: -37.6px;
}

#login{
    margin-top: -57px;
    float: right;
    margin-right: 140px;
    background-color: deepskyblue;
    border: none;
    color: white;
    padding: 3px 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

#stats td,th {
	padding: 8px;
	border: 1px solid #ddd;
    text-align: center; 
}

#stats {
	width: 30%;
	float: right;
}

#stats th {
	background-color: deepskyblue;
	color: white;
}