body#loginBody{
	background-image: url('../nba-logo-on-wood.jpg');
	background-size:cover;
	color:white;
}
body{
	background-image:url('../PaintSquares_1920x1234.jpg');
	color:black;
	background-size:cover;
}
.tabcontent{
	display: none;
}

